on: [workflow_dispatch]
jobs:
  jmeter_job:
    runs-on: ubuntu-latest
    name: JMeter Test Execution
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run JMeter Tests
        uses: ./
        with:
          test-plan-path: ./tests/TestPlans/PlanDePruebas.jmx
          args: ""

      - name: Upload Results
        uses: actions/upload-artifact@v2
        with:
          name: jmeter-results
          path: result.jtl
